header, body, footer {
    padding-left: 300px;
}

body {
    background-color:#c8e6c9 ;
}

nav {
    background-color: #1b5e20 ; 
}

.content {
    padding: 15px;
}

.user-view p {
    color:white;
}


@media only screen and (max-width : 992px) {
    header, body, footer {
    padding-left: 0;
    }
}